services:
  console:
    container_name: console
    image: oasm/oasm-console:latest
    build:
      context: ./console
      dockerfile: Dockerfile
    networks:
      - oasm
    env_file:
      - ./console/.env
    ports:
      - '3000:80'
    restart: 'always'

    depends_on:
      core-api:
        condition: service_healthy

  core-api:
    container_name: oasm-api
    image: oasm/oasm-api:latest
    build:
      context: ./core-api
      dockerfile: Dockerfile
    networks:
      - oasm
    env_file:
      - ./core-api/.env
    ports:
      - '6276:6276'
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_URL=redis://:password@redis:6379/0
      - GEO_IP_URL=geo-ip:4360
      - OASM_CLOUD_APIKEY=change_me
    restart: 'always'
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./.open-api:/.open-api
      - api-storage:/app/.storage:rw
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:6276/api/health']
      interval: 1s
      timeout: 30s
      retries: 10

  oasm-worker:
    image: oasm/oasm-worker:latest
    build:
      context: ./worker
      dockerfile: Dockerfile
    env_file:
      - ./worker/.env
    environment:
      - API=http://core-api:6276/
      - MAX_JOBS=10
      - OASM_CLOUD_APIKEY=change_me
    volumes:
      - nuclei-templates:/root/nuclei-templates:rw
    networks:
      - oasm
    restart: 'always'
    depends_on:
      core-api:
        condition: service_healthy

  postgres:
    container_name: oasm-postgres
    image: pgvector/pgvector:pg17
    restart: always
    env_file:
      - ./core-api/.env
    environment:
      POSTGRES_USER: '${POSTGRES_USERNAME:-postgres}'
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-open_asm}
      POSTGRES_HOST_AUTH_METHOD: trust
      PGUSER: '${POSTGRES_USERNAME:-postgres}'
      PGPASSWORD: '${POSTGRES_PASSWORD:-postgres}'
    volumes:
      - pgdata:/var/lib/postgresql/data:rw
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    networks:
      - oasm
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 1s
      timeout: 5s
      retries: 10

  redis:
    container_name: oasm-redis
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'
    networks:
      - oasm
    volumes:
      - redis-data:/data
    command: 'redis-server --requirepass password'
    healthcheck:
      test: ['CMD', 'redis-cli', '-a', 'password', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1500M
        reservations:
          cpus: '0.5'
          memory: 512M

  geo-ip:
    container_name: geo-ip
    image: ghcr.io/l1ttps/geoip-proxy:latest
    networks:
      - oasm
    ports:
      - '4360:4360'
    restart: 'always'
    volumes:
      - geoip-data:/app/data:rw

volumes:
  pgdata:
  nuclei-templates:
  redis-data:
  redpanda-data:
  geoip-data:
  api-storage:

networks:
  oasm:
    driver: bridge
